= resource_form(@asset, :html =>  {:multipart => true}) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:upload, :label => 'File')
      = f.hidden_field(:upload_cache)
      = f.input(:name)

    = f.fieldset('Organise') do
      = f.input(:tag_summary, :label => 'Tags')
      = f.input(:asset_group_id, :collection => AssetAlbum.all, :label => 'Album', :include_blank => false)

  = footer do
    = save_button
