= resource_form(@asset, :html =>  {:multipart => true}) do |f|
  = content do
    = f.input(:name)
    = f.input(:upload, :label => 'File')
    = f.hidden_field(:upload_cache)
    = f.input(:asset_category_id, :collection => AssetCategory.all, :label => 'Category', :include_blank => false)

  = footer do
    = f.submit 'Save'
