= resource_form(@asset, :html =>  {:multipart => true}) do |f|
  = record_name(@asset.name, 'picture', :when_blank => 'New Asset')

  = form_errors(@asset)

  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:file, :label => 'File', :as => 'file')
      = f.input(:name)

    = f.fieldset('Organise') do
      = f.input(:tag_summary, :label => 'Tags')
      = f.input(:asset_group_id, :collection => AssetGroup.all, :label => 'Collection', :include_blank => false, :selected => params[:to])

  = footer do
    = save_button
