%ul.asset-grid
  - assets.each do |asset|
    %li(class='#{asset.kind}')
      %a.frame(href='#{path(asset)}')
        - if asset.preview?
          = image_tag(asset.previews.url(:thumb_medium))
        - else
          %span(class='no-preview icon-#{asset.kind}') &nbsp;
      = link_to(asset.name, path(asset), :class => 'name')
      %span(class='asset #{asset.kind}')= asset.friendly_kind
