%ul.asset-grid
  - assets.each do |asset|
    %li(class='#{asset.kind} column count-#{size}')
      %a.frame(href='#{path(asset)}')
        - if asset.preview.present?
          = image_tag(asset.preview.url(:thumb_medium))
        - else
          %span(class='no-preview icon-#{asset.kind}') &nbsp;
      = link_to(asset.name, path(asset), :class => 'name')
      %span(class='type icon-#{asset.kind}')= asset.friendly_kind
