- sub_header('Bulk Upload Assets')

= resource_form(@upload, :url => path(:bulk, :assets), :multipart => true) do |f|
  = content do
    = f.fieldset('Upload into') do
      = f.collection_radio_buttons(:into, @upload.candidates, :id, :name)

    = f.input(:new_album_name)
    = f.input(:upload, :as => 'file', :label => 'File')

  = footer do
    = f.submit 'Upload'
