- sub_header('Asset Processing')

- filter_nav(:asset_processes, 'All')
- filter_nav(:asset_processes, 'Enqueued', 'enqueued')
- filter_nav(:asset_processes, 'Processing', 'processing')
- filter_nav(:asset_processes, 'Processed', 'processed')
- filter_nav(:asset_processes, 'Errors', 'errored')

- sort_nav(:asset_processes, 'Updated at')
- sort_nav(:asset_processes, 'Name', 'name')
- sort_nav(:asset_processes, 'Status', 'status')

= form_tag(path(:asset_processes), :method => :put) do
  = content do
    %table
      %thead
        %tr
          %th.select= check_box_tag('all')
          %th.boolean Status
          %th Asset
          %th Updated at

      %tbody
        - @assets.each do |asset|
          %tr
            %td.select= check_box_tag("ids[]", asset.id)
            %td.boolean{:title => asset.status.capitalize}
              - if asset.status == 'processing'
                %span.processing-marker
              - elsif asset.status == 'enqueued'
                %span.status-waiting
              - elsif asset.status == 'processed'
                %span.status-complete
            %td= link_to(asset.name, path(asset), :class => 'title')
            %td= update_time(asset)

  = footer do
    = save_button('Process')
