- sub_header(@asset.group.name, path(@asset.group))
- prefixed_sub_header(@asset.kind.capitalize, @asset.name)

= content(:class => 'inset') do
  = column(4, :class => 'asset-preview') do
    %div.frame
      - if @asset.status == 'processing' or @asset.status == 'enqueued'
        %span.processing-marker{:title => 'This asset is being processed, and will be available shortly.'}
      - elsif @asset.preview? and @asset.processed?
        = image_tag(@asset.previews.url(:thumb))
      - else
        %span(class='no-preview icon-#{@asset.kind}') &nbsp;

  = column(7, :class => 'last') do
    %h3(class="asset #{@asset.kind}")= @asset.friendly_kind

    %h3 Info
    = render :partial => "#{@asset.friendly_kind.downcase}_metadata"

    - unless @asset.versions.empty?
      %h3 Versions
      %ul.key-value
        %li
          %span.key Status
          %span.value= @asset.status.capitalize
        - if @asset.error?
          %li
            %span.key Error
            %span.value= @asset.error
        - if @asset.processed?
          %li
            %span.key Sizes/Formats
            %span.value
              %ul.versions
                - @asset.versions.urls.each do |name, path|
                  %li= link_to(name.to_s.humanize, @asset.versions.url(name))

    %h3 Tags
    - if @asset.tags.empty?
      %p.note No tags set
    - else
      %ul#tag-cloud
        - @asset.tags.each do |tag|
          %li= link_to(tag.name, path(tag))

    %ul.key-value.edit-info
      %li
        %span.key Created
        %span.value= creation_time(@asset)
      %li
        %span.key Updated
        %span.value= update_time(@asset)

= footer do
  = form_for([:reprocess, :admin, @asset]) do
    %button Reprocess
  = edit_button(@asset)
  = delete_button(@asset)
