- sub_header(@asset.kind.capitalize, @asset.name)
- control('Edit', path(:edit, @asset), :edit)
- control('Delete', path(:delete, @asset), :delete)

= content do
  - if @asset.kind == 'image'
    = image_tag(@asset.upload.url(:admin_thumb))

  %h3 Info
  = render :partial => "#{@asset.kind}_metadata"

  %h3 Download & Share
  %p Download: #{link_to(@asset.upload.url, @asset.upload.url)}



