- sub_header(@asset.kind.capitalize, @asset.name)

= content(:class => 'inset') do
  = column(4, :class => 'asset-preview') do
    %div.frame
      - if @asset.preview?
        = image_tag(@asset.previews.url(:thumb))
      - else
        %span(class='no-preview icon-#{@asset.kind}') &nbsp;

  = column(7, :class => 'last') do
    %h3 Info
    = render :partial => "#{@asset.friendly_kind.downcase}_metadata"

    - unless @asset.versions.empty?
      %h3 Versions
      %ul.key-value
        %li
          %span.key Status
          %span.value= @asset.status.capitalize
        - if @asset.error?
          %li
            %span.key Error
            %span.value= @asset.error
        %li
          %span.key Sizes/Formats
          %span.value
            %ul
              - @asset.versions.urls.each do |name, path|
                %li= link_to(name, @asset.versions.url(name))

    %h3 Tags
    %ul#tag-cloud
      - @asset.tags.each do |tag|
        %li= link_to(tag.name, path(tag))

    %p.edit-info
      Created <span class='time'>#{@asset.created_at}</span> by #{@asset.creator.name}
      %br
      Updated <span class='time'>#{@asset.updated_at}</span> by #{@asset.updater.name}

= footer do
  = link_to("Download", '', :class => 'button')
  = form_for([:reprocess, :admin, @asset]) do
    %button Reprocess
  = edit_button(@asset)
  = delete_button(@asset)
