!!!
%html
  %head
    %title
      Islay
      - if _header
        \- #{_header}
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    = stylesheet_link_tag('islay/admin/islay')
    = javascript_include_tag('islay/admin/islay')

  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div#side-bar
      %form
        %input(type='text' placeholder='Search')

      %ul
        = main_nav('Dashboard', :dashboard, :root => true)
        = extension_nav_entries
        = main_nav('Asset Library', :asset_library)
        = main_nav('Users', :users)

      %p#current-user
        = current_user.name

    %div#header
      - if _nav
        - render :partial => _nav

      - if sub_nav?
        %h1.hide= _header

        %ul.nav
          - sub_nav_entries.each do |entry|
            %li= entry

      - else
        %h1= _header

      - if controls?
        %ul.controls
          - control_entries.each do |entry|
            %li= entry

    - if show_sub_bar?
      %div#sub-header
        - if sub_header?
          = sub_header_entry

        - if sort_nav?
          %ul.sort
            = sort_nav_entries

        - if filter_nav?
          %ul.filters
            = filter_nav_entries

    = yield
