!!!
%html
  %head
    = stylesheet_link_tag('islay/application')
  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div#side-bar
      %ul
        %li= link_to('Dashboard', path(:dashboard))
        %li= link_to('Asset Library')
        %li= link_to('Users')

    %div#sub-header
      - if @sub_header_text
        %h1= @sub_header_text
      - if @sub_header
        = @sub_header

    %div#content
      = yield

    - if @footer
      %div#footer
        = @footer
