!!!
%html
  %head
    %title Islay
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    = stylesheet_link_tag('islay/application')

  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div#side-bar
      %form
        %input(type='text' placeholder='search')

      %ul
        %li= link_to('Dashboard', path(:dashboard))
        %li= link_to('Asset Library', path(:asset_library))
        %li= link_to('Users', path(:users))

    %div#header
      %h1= @header || _header

      %p
        = current_user.name

    - if @has_sub_header
      %div#sub-header
        - if @sub_header
          = @sub_header

        - if @sub_nav_entries
          %ul.sub-nav
            - @sub_nav_entries.each do |entry|
              %li= entry

        - if @control_entries
          %ul.controls
            - @control_entries.each do |entry|
              %li= entry

    = yield
