!!!
%html
  %head
    %title
      Islay
      - if _header
        \- #{_header}
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    = stylesheet_link_tag('islay/admin/islay')
    = stylesheet_link_tag('islay/admin/islay_print', :media => 'print')
    = stylesheet_link_tag("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    = javascript_include_tag('islay/admin/islay')

  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div.islay-nav
      %ul.islay-main-nav{:class => _nav ? 'closed' : 'open'}
        %li
          %form.global-search
            %i.icon-search
            %input(type='text' placeholder='Search')

        = main_nav("Dashboard", 'home', :dashboard, :root => true)
        = main_nav("Reports", 'bar-chart', :reports)
        = extension_nav_entries 
        = main_nav("Assets", 'picture', :assets)
        = main_nav("Configuration", 'cog', :users)

        %li.current-user
          = form_for(current_user, :url => :destroy_user_session, :method => :delete, :html => {:class => 'entry'}) do |f|
            %i.icon-user
            %strong= current_user.name
            %button(type='submit') Sign out

      - if _nav
        - render :partial => _nav
        %ul.islay-sub-nav
          - sub_nav_entries.each do |entry|
            %li= entry

    - if show_sub_bar?
      %div#sub-header
        - if sub_header?
          = output_sub_header

        - if sort_nav?
          %ul.sort
            = sort_nav_entries

        - if filter_nav?
          %ul(class="filters fold-#{fold_filter_nav?}")
            = filter_nav_entries

    = yield
