!!!
%html
  %head
    %title
      Islay
      - if _header
        \- #{_header}
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    = stylesheet_link_tag('islay/admin/islay')
    = javascript_include_tag('islay/admin/islay')

  %body(id=body_id class=body_class)
    %div#main-header
      %h1 Islay

    %div#side-bar
      = form_tag(path(:search), :method => :get) do
        = text_field_tag('term', nil, :placeholder => 'Search')

      %ul
        = main_nav('Dashboard', :dashboard, :root => true)
        = main_nav('Reports', :reports)
        = extension_nav_entries
        = main_nav('Page Content', :pages)
        = main_nav('Asset Library', :asset_library)
        = main_nav('Users', :users)

      #current-user
        = current_user.name

        = form_for(current_user, :url => :destroy_user_session, :method => :delete) do |f|
          %label(for='sign-out-control') Sign out
          %button#sign-out-control(type='submit') Sign out

    %div#header
      - if _nav
        - render :partial => _nav

      - if sub_nav?
        %h1.hide= _header

        %ul.nav
          - sub_nav_entries.each do |entry|
            %li= entry

      - else
        %h1= _header

      - if controls?
        %ul.controls
          - control_entries.each do |entry|
            %li= entry

    - if show_sub_bar?
      %div#sub-header
        - if sub_header?
          = output_sub_header

        - if sort_nav?
          %ul.sort
            = sort_nav_entries

        - if filter_nav?
          %ul(class="filters fold-#{fold_filter_nav?}")
            = filter_nav_entries

    = yield
