!!!
%html
  %head
    %title
      Islay
      - if _header
        \- #{_header}
    %meta(http-equiv='Content-Type' content='text/html')
    %meta(content="text/html;charset=UTF-8" http-equiv="Content-Type")

    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}

    = stylesheet_link_tag("//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css")
    = stylesheet_link_tag('islay/admin/islay')

  %body(id=body_id class=body_class)
    

    .islay-layout-nav
      %ul.islay-main-nav{:class => sub_nav? ? 'closed' : 'open'}
        %li
          = form_tag(path(:search), :method => :get, :class => 'islay-global-search') do
            %i.icon-search
            = text_field_tag('term', nil, :placeholder => 'Search', :autocomplete => 'off')
        = extension_nav_entries
        %li.islay-current-user
          = form_for(current_user, :url => :destroy_user_session, :method => :delete, :html => {:class => 'entry'}) do |f|
            %i.icon-user
            %strong= current_user.name
            %button(type='submit')
              %i.icon-signout
              %span Sign out

      = render_sub_nav

    .islay-layout-header
      %h1.islay-layout-app-name Islay
      %h2= _header

    .islay-content-header
      = render_breadcrumbs
      = render_statuses
      = render_filter_nav
      = render_sort_nav

    = yield

    = javascript_include_tag('islay/admin/islay')
