- breadcrumb('Dashboard')

= record_name('Dashboard', 'dashboard')

= content(:class => 'inset') do
  = column(8) do
    - primary_cells.each do |n|
      - cell_content = cell(n).(:index)
      - if cell_content.present?
        .cell(id="#{n.to_s.parameterize}-cell")= cell_content

    #activity-cell.cell.report-cell= cell(:activity).(:log)

  = column(4) do
    - secondary_cells.each do |n|
      .cell(id="#{n.to_s.parameterize}-cell")
        = cell(n).(:index)
