= resource_form(@user) do |f|
  = record_name(@user.name, 'user', :when_blank => 'New User')
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 6)
      = f.input(:email, :col => 6)

    = f.fieldset('Password!') do
      = f.input(:password)

  = footer do
    = save_button
