= resource_form(@user) do |f|
  = record_name(@user.name, 'user', :when_blank => 'New User')
  = form_errors(@user)
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 6)
      = f.input(:email, :col => 6)

    = f.fieldset('Password') do
      = f.input(:password)

    - if @user == current_user
      = form_notice(:general) do
        %p
          You cannot delete or disable your own account. If you need this 
          account deleted or disabled another user must do it for you.

    - else
      - if @user.destroyable?
        = form_notice(:delete) do
          %p 
            This account may be deleted as the user associated with it has 
            not added or modified any records. Deletion is permanent and once 
            gone the account cannot be recovered.

          = link_to('Delete User', path(:delete, @user), :class => 'button delete')

      - else
        = form_notice(:disable) do
          %p
            This account may be disabled. The user associated with this account
            will not be able to log in. After being disabled, the account may be 
            re-enabled later.

          = button_tag('Disable User', :name => 'user[disabled]', :value => 1)

  = footer do
    = save_button
