= resource_form(@user) do |f|
  = record_name(@user.name, 'user', :when_blank => 'New User')
  = form_errors(@user)
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name, :col => 6)
      = f.input(:email, :col => 6)

    = f.fieldset('Password') do
      = f.input(:password)

    - if @user.destroyable?
      .panel.delete-controls
        - if @user == current_user
          %p You can't delete your own account.
        - else
          = link_to('Delete User', path(:delete, @user), :class => 'button delete')

  = footer do
    = save_button
