- sub_header("Edit User", resource.name)

= resource_form(resource, resource_url) do |f|
  = content do
    = f.input(:name, :col => 6)
    = f.input(:email, :col => 6)
    = f.input(:password)

  = footer do
    = f.submit 'Save'
