- breadcrumb('Users')

= content do
  %table.fixed-header(cellpadding=0 cellspacing=0)
    %thead
      %th{:colspan => 2} Name
      %th Updated At
    %tbody
      - @users.each do |user|
        %tr
          %td.status
            - if user.immutable?
              %i.icon-lock{:title => 'This user can\'t be modified.'} &nbsp;
          %td
            - if user.immutable?
              %span.title= user.name
            - else
              = link_to(user.name, path(:edit, user), :class => 'title')
          %td.time= user.updated_at

= footer do
  = new_button('User', :user)
