- sub_header('Content', path(:pages))
- prefixed_sub_header('Edit Page', @page.name)

= resource_form(@page, :url => path(:page, :id => params[:id]), :method => :put) do |f|
  = content do
    = f.fieldset('Content') do
      - @page.each do |slug, type, name, val|
        %div.field
          = label(name, slug)
          = contents_field(slug, type, val)

    - if @page.features?
      - @page.features.build
      = f.fieldset('Features', :class => 'features association') do
        %ol
          = f.fields_for(:features) do |fe|
            %li.feature.associated.collapsible.collapsed
              - unless fe.object.errors.blank?
                %p This feature has errors

              .persistent
                = fe.input(:published)
                = fe.input(:_destroy, :as => :boolean)
                = fe.input(:position)

              .summary
                - unless fe.object.primary_asset.blank?
                  .frame.image-frame
                    = image_tag(fe.object.primary_asset.previews.url(:thumb_small))

                - unless fe.object.secondary_asset.blank?
                  .frame.image-frame
                    = image_tag(fe.object.secondary_asset.previews.url(:thumb_small))

                %h4.name.collapsible-toggle= fe.object[:title]

              .details
                = fe.input(:title)
                = fe.input(:description, :as => 'text')
                = fe.input(:primary_asset_id, :collection => @assets, :blank => true, :label => 'Image', :as => 'single_asset')
                = fe.input(:secondary_asset_id, :collection => @assets, :blank => true, :label => 'Background', :as => 'single_asset')

  = footer do
    = cancel_button(@page, path(:pages))
    = save_button
