- breadcrumb('Pages', :pages)
- breadcrumb(@page.name, @page)
- breadcrumb('Edit')

= resource_form(@page, :url => path(:page, :id => params[:id]), :method => :put) do |f|
  = record_name(@page.name, 'file-text')

  = form_errors(@page)

  = content do
    = f.fieldset('Content', :class => 'form-tab', :id => 'page-content') do
      - @page.grouped_contents.each do |group|
        = f.fieldset(group.name) do
          - group.each do |slug, type, name, val|
            
            - if type == :image
              %div.field.single_asset
                = label(name, slug)
                = contents_field(slug, type, val)
            - else
              %div.field
                = label(name, slug)
                = contents_field(slug, type, val)

    - if @page.features?
      = f.fieldset('Features', :class => 'islay-page-features form-tab', :id => 'page-features') do
        %div.islay-form-sub-controls
          = link_to('New Feature', path(:new, :page, :feature, :page_id => @page.slug), :class => 'button')

        %table
          %thead
            %tr
              %th Publish
              %th Title
              %th Order
              %th Delete

          %tbody
            = f.fields_for(:features, :include_id => false) do |fe|
              %tr{:class => fe.object.published? ? 'published' : 'un-published'}
                %td
                  = fe.input(:published, :wrapper_html => {:class => 'published-flag'})
                %td
                  = link_to(fe.object.title, path(:edit, @page, fe.object), :class => 'title')
                  = fe.hidden_field(:id)
                %td
                  = fe.input(:position, :as => :position)
                %td
                  = fe.input(:_destroy, :as => :destroy, :label => 'Delete')

  = footer do
    = cancel_button(@page, path(:pages))
    = save_button
