= resource_form(@asset_group, :as => :asset_group) do |f|
  = content do
    = f.fieldset(:class => 'primary') do
      = f.input(:name)
      - unless @asset_collections.empty?
        = f.input(:asset_group_id, :collection => @asset_collections, :selected =>params[:parent], :label => 'Collection', :include_blank => true)

  = footer do
    = save_button
