- prefixed_sub_header('Collection', @asset_group.name)

= content do
  = render :partial => 'islay/admin/asset_groups/table'

= footer do
  = new_button('Album', :asset_album, :parent => @asset_group.id)
  = new_button('Collection', :asset_collection, :parent => @asset_group.id)
  = edit_button(@asset_group)
  = delete_button(@asset_group)
