- sub_header('Asset Collections')

= content do
  = render :partial => 'islay/admin/asset_groups/table'

= footer do
  = new_button('Collection', :asset_collection)
  = new_button('Album', :asset_album)

