- sub_header('Album', @asset_group.name)

= content do
  = render :partial => 'islay/admin/assets/grid', :locals => {:assets => @asset_group.assets, :size => 2}

= footer do
  = edit_button(@asset_group)
  = delete_button(@asset_group)
