- prefixed_sub_header('Collection', @asset_group.name)

= content(:class => 'inset') do
  - unless @asset_group.children.empty?
    %p Children

  - if @asset_group.assets.empty?
    %p#placeholder
      This collection has no assets; add a #{link_to('new asset', path(:new, :asset, :to => @asset_group))}
  - else
    = render :partial => 'islay/admin/assets/grid', :locals => {:assets => @asset_group.assets}

= footer do
  = new_button('Asset', :asset, :to => @asset_group)
  = new_button('Collection', :asset_group, :parent => @asset_group.id)
  = new_button('Bulk Upload', @asset_group, :asset_bulk_upload)
  = edit_button(@asset_group)
  = delete_button(@asset_group)
