%li.collection
  %span.collection-name.folder-icon= group.name
  = link_to('Edit', path(:edit, group), :class => 'edit')
  = link_to('Delete', path(:delete, group), :class => 'delete')
  - unless group.children.empty?
    %ul
      - group.children.each do |c|
        - case c
        - when AssetCollection
          = render :partial => 'collection', :locals => {:group => c}
        - when AssetGroup
          %li.album
            = link_to(c.name, path(c), :class => 'album-name album-icon')
            %span.count= group.assets_count
            = link_to('Edit', path(:edit, c), :class => 'edit')
            = link_to('Delete', path(:delete, c), :class => 'delete')
