- sub_header('Hi!')
- control('Collection', path(:new, :asset_collection), :new)
- control('Album', path(:new, :asset_album), :new)
- control('Asset', path(:new, :asset), :new)

= content do
  %ul.asset-tree
    - @asset_groups.each do |group|
      - case group
      - when AssetCollection
        = render :partial => 'collection', :locals => {:group => group}
      - when AssetGroup
        %li.album
          = link_to(group.name, path(group), :class => 'album-name')
          = link_to('Edit', path(:edit, group), :class => 'edit')
          = link_to('Delete', path(:delete, group), :class => 'delete')
