= render :partial => 'sub_nav'

= content do
  = column(5) do
    %h3 Browse Library
    %ul.asset-tree
      - @asset_groups.each do |group|
        - case group
        - when AssetCollection
          = render :partial => 'collection', :locals => {:group => group}
        - when AssetGroup
          %li.album
            = link_to(group.name, path(group), :class => 'album-name album-icon')
            %span.count= group.assets_count
            = link_to('Edit', path(:edit, group), :class => 'edit')
            = link_to('Delete', path(:delete, group), :class => 'delete')

  = column(7) do
    %h3 Latest Uploads
    = render :partial => 'islay/admin/assets/grid', :locals => {:assets => @latest_assets, :size => 4}
