= content(:class => 'inset') do
  %h2
    You searched for
    %strong '#{params[:term]}'

  - if @results.empty?
    %h3.no-results
      No Matches
  - else
    %ul.search-results
      - @results.each do |result|
        %li
          %h3(class="#{result.searchable_type.underscore.dasherize}")
            = link_to(result.name, path(result.searchable))
          %p.type
            = result.searchable_type.underscore.humanize

