%h3 Your recent activity

%table#user-logs
  %thead
    %tr
      %th Event
      %th Item
      %th At

  %tbody
    - @user_logs.each do |log|
      %tr
        %td= log.action.humanize
        %td
          - begin
            = link_to("#{log.description}".html_safe, path(*log.url_params))
          - rescue ArgumentError
            = "#{log}".html_safe
        %td.meta
          %span.time= log.created_at.iso8601

%h3 Site activity

%table#activity-logs
  %thead
    %tr
      %th{colspan: 2} Event

      %th Item
      %th At

  %tbody
    - @global_logs.each do |log|
      %tr(class="#{log.type}-log")
        %td
          - if log.user_name.blank?
            Self
          - else
            #{log.user_name.humanize}
        %td= log.event.humanize
        %td= link_to("<strong>#{log.friendly_type}:</strong> #{log.name}".html_safe, log.url)
        %td.meta
          %span.time= log.created_at.iso8601
