%h3 Your recent activity

%table#user-logs
  %thead
    %tr
      %th Event
      %th Item
      %th At

  %tbody
    - @user_logs.each do |log|
      - if log.target
        %tr
          %td= log.action.humanize
          %td= link_to("#{log.description}".html_safe, path(*log.url_params))
          %td.meta
            %span.time= log.created_at

%h3 Site activity

%table#activity-logs
  %thead
    %tr
      %th{colspan: 2} Event
      %th Item
      %th At

  %tbody
    - @global_logs.each do |log|
      - if log.target
        %tr(class="#{log.type}-log")
          %td
            - if log.user_name.blank?
              Self
            - else
              #{log.user_name.humanize}
          %td= log.event.humanize
          %td= link_to("<strong>#{log.friendly_type}:</strong> #{log.name}".html_safe, log.url)
          %td.meta
            %span.time= log.created_at
