%h3 Activity Log

%table#activity-logs
  %thead
    %tr
      %th What
      %th Description
      %th Who/When

  %tbody
    - @logs.each do |log|
      %tr{:class => "#{log.key}-log"}
        %td= log.key
        %td= log.description
        %td.meta
          %span.time= log.created_at
          - if log.user
            by #{log.user.name}
